In [8]:
import pandas as pd
import requests

##################################### Access 2019 TSA data ##################################### 
url = "https://www.tsa.gov/travel/passenger-volumes/2019"
html_content = requests.get(url).text
tsa2019 = pd.read_html(html_content)

# create pandas df and set Date as the index
tsa2019 = tsa2019[0]
tsa2019 = pd.DataFrame(tsa2019)

#####################################  Access 2020 TSA data ##################################### 
url = "https://www.tsa.gov/travel/passenger-volumes/2020"
html_content = requests.get(url).text
tsa2020 = pd.read_html(html_content)

# create pandas df and set Date as the index
tsa2020 = tsa2020[0]
tsa2020 = pd.DataFrame(tsa2020)

##################################### Access 2021 TSA data ##################################### 
url = "https://www.tsa.gov/travel/passenger-volumes/2021"
html_content = requests.get(url).text
tsa2021 = pd.read_html(html_content)

# create pandas df and set Date as the index
tsa2021 = tsa2021[0]
tsa2021 = pd.DataFrame(tsa2021)

##################################### Access 2022 TSA data ##################################### 
url = "https://www.tsa.gov/travel/passenger-volumes/2022"
html_content = requests.get(url).text
tsa2022 = pd.read_html(html_content)

# create pandas df and set Date as the index
tsa2022 = tsa2022[0]
tsa2022 = pd.DataFrame(tsa2022)

##################################### Access 2023 TSA data ##################################### 
url = "https://www.tsa.gov/travel/passenger-volumes/2023"
html_content = requests.get(url).text
tsa2023 = pd.read_html(html_content)

# create pandas df and set Date as the index
tsa2023 = tsa2023[0]
tsa2023 = pd.DataFrame(tsa2023)

##################################### Access 2024 TSA data ##################################### 
url = "https://www.tsa.gov/travel/passenger-volumes/2024"
html_content = requests.get(url).text
tsa2024 = pd.read_html(html_content)

# create pandas df and set Date as the index
tsa2024 = tsa2024[0]
tsa2024 = pd.DataFrame(tsa2024)

# reverse sorting index
tsa2024.sort_index(ascending=False,inplace=True)

##################################### Access 2025 TSA data ##################################### 
url = "https://www.tsa.gov/travel/passenger-volumes"
html_content = requests.get(url).text
tsa2025 = pd.read_html(html_content)

# create pandas df and set Date as the index
tsa2025 = tsa2025[0]
tsa2025 = pd.DataFrame(tsa2025)
tsa2025.columns = ['Date','Numbers']

# reverse sorting index
tsa2024.sort_index(ascending=False,inplace=True)

####################################### concat into one df #########################################
tsa = pd.concat([tsa2019, tsa2020, tsa2020, tsa2021, tsa2022, tsa2023, tsa2024, tsa2025])
tsa.columns = ['Date','Volume']
tsa['Date'] = pd.to_datetime(tsa['Date'])

# Extract day, month, and year columns from Date
tsa['Day'] = tsa['Date'].dt.day_name()
tsa['Day Number'] = tsa['Date'].dt.day_of_week
tsa['Day Number'] = tsa['Day Number'] + 1

tsa['Month'] = tsa['Date'].dt.month_name()
tsa['Month Number'] = tsa['Date'].dt.month
tsa['Year'] = tsa['Date'].dt.year

tsa.set_index('Date',inplace=True)

# save to csv for uploading to Domo
tsa.to_csv('tsa.csv')
tsa.tail()

C:\Users\jacobl\AppData\Local\Temp\ipykernel_8048\2985435017.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tsa2019 = pd.read_html(html_content)
C:\Users\jacobl\AppData\Local\Temp\ipykernel_8048\2985435017.py:16: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tsa2020 = pd.read_html(html_content)
C:\Users\jacobl\AppData\Local\Temp\ipykernel_8048\2985435017.py:25: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tsa2021 = pd.read_html(html_content)
C:\Users\jacobl\AppData\Local\Temp\ipykernel_8048\2985435017.py:34: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tsa2022 = pd.read_html(html_content)
C:\Users\jacobl\AppData\Local\Temp\ipykernel_8048\2985435017.py:43: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tsa2023 = pd.read_html(html_content)
C:\Users\jacobl\AppData\Local\Temp\ipykernel_8048\2985435017.py:52: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tsa2024 = pd.read_html(html_content)
C:\Users\jacobl\AppData\Local\Temp\ipykernel_8048\2985435017.py:64: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tsa2025 = pd.read_html(html_content)

             Volume        Day  Day Number    Month  Month Number  Year
Date
2025-01-05  2579257     Sunday           7  January             1  2025
2025-01-04  2543099   Saturday           6  January             1  2025
2025-01-03  2561917     Friday           5  January             1  2025
2025-01-02  2611778   Thursday           4  January             1  2025
2025-01-01  2313111  Wednesday           3  January             1  2025

In [10]:
tsa.tail(20)

             Volume        Day  Day Number    Month  Month Number  Year
Date
2025-01-20  2466952     Monday           1  January             1  2025
2025-01-19  2112794     Sunday           7  January             1  2025
2025-01-18  1939172   Saturday           6  January             1  2025
2025-01-17  2526286     Friday           5  January             1  2025
2025-01-16  2369393   Thursday           4  January             1  2025
2025-01-15  1844782  Wednesday           3  January             1  2025
2025-01-14  1651203    Tuesday           2  January             1  2025
2025-01-13  2062714     Monday           1  January             1  2025
2025-01-12  2322100     Sunday           7  January             1  2025
2025-01-11  1858510   Saturday           6  January             1  2025
2025-01-10  1992855     Friday           5  January             1  2025
2025-01-09  2027310   Thursday           4  January             1  2025
2025-01-08  1879025  Wednesday           3  January             1  2025
2025-01-07  1908564    Tuesday           2  January             1  2025
2025-01-06  2222148     Monday           1  January             1  2025
2025-01-05  2579257     Sunday           7  January             1  2025
2025-01-04  2543099   Saturday           6  January             1  2025
2025-01-03  2561917     Friday           5  January             1  2025
2025-01-02  2611778   Thursday           4  January             1  2025
2025-01-01  2313111  Wednesday           3  January             1  2025